h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  };
  
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  footer {
    background-color: gray;
    padding: 16px;
    color: #0006FF;
    text-align: center;
  }